body{
	background: #ddd;
}
a,a:link,a:active,a:visited{
    color: #000;
}
#wrap{
	width: 80%;
	margin: 0 auto;
}
#wrap section{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	border: 1px solid black;
}
#wrap section div.aside{
	width: 400px;
	border-right: 1px solid black;
	overflow: hidden;
}
#wrap section div pre{
	margin-left: -240px;
	padding: 0 20px;
}
#wrap section article{
	box-flex:1;
}
p.conclude{
	color: red;
}	
article div{
	background: #0099FF;
}
.show-code{
	white-space:pre-line;
	margin: 20px;
}